.options
    min-height: 702px
    background: url(../img/bg_options.jpg) center center/cover no-repeat
    padding: 46px 0px 14px 0px
    &__text
        width: 600px
        margin: 0 auto
    &__block
        width: 413px
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.2)
        border-radius: 10px
        background-color: #ffffff
        margin-left: 140px
        margin-top: 52px
    &__wrapper
        width: 413px
        display: flex
        margin-top: 40px
        margin-left: 149px
        padding: 22px 0px 29px 32px
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.2)
        border-radius: 10px
        background-color: #ffffff
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
    &__boxes
        display: flex
        justify-content: space-around
        align-items: center
    &__items
        display: flex
        justify-content: space-between
        align-items: center
    &__descr
        &__subheader
            color: #000000
            font-family: "Tele 2 Display Serif Web SHORT - Reg"
            font-size: 24px
            font-weight: bold
    