.promo
	min-height: 688px
	//background-color: #000000
	padding: 85px 0 91px 0
	&__title
		color: #ffffff
		font-family: "Tele 2 Text Sans Web SHORT"
		font-size: 38px
		font-weight: bold
		text-align: center
	&__wrapper
		display: flex
		justify-content: space-around
		align-items: center
		margin-top: 44px
