.promo
	min-height: 686px
	background: url(../img/bg.jpg) center center/cover no-repeat
	padding: 55px 0 97px 0
	padding: 91px 0 103px 0px
	&__wrapper
		display: flex
		justify-content: space-around
		align-items: center
		margin-top: 39px
	&__item
		width: 400px
		height: 463px
		background-color: none
		padding: 60px 0px 0px 0px
		&-bd
			width: 702px
			height: 463px
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.11)
			background-color: #ffffff
			padding: 0px 0px 0px 0px
	&__descr
		margin-top: 23px
		display: flex
		justify-content: flex-start
		align-items: center
	&__boxes	
		&:first-child
			margin-right: 54px
	&__price
		color: #000000
		font-family: Calibri
		font-size: 80px
		font-weight: 500
		span
			font-size: 46px
			font-weight: 500
			margin-top: 97px
		.rub
			font-size: 65px
	&__plan
		display: flex
		justify-content: flex-start
		align-items: center
		&__serv
			font-size: 35px
			font-weight: 300
			span
				font-size: 23px
		&__logo
			width: 36px
			height: 36px
			margin-right: 14px
			img
				width: 100%
	&__text
		color: #000000
		font-size: 35px
		font-weight: 300
							

