.promo
	min-height: 688px
	background: url(../../img/bg.jpg) center center/cover no-repeat;
	padding: 91px 0 103px 0
	&__title
		color: #000000
		font-family: "Tele 2 Text Sans Web SHORT"
		font-size: 50px
		font-weight: 700
		text-decoration: underline
		text-align: center
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 44px
	&__item
		width: 412px
		height: 420px
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.11)
		background-color: #ffffff
		border-radius: 4%
		#ctx
			width:80%
			height:90%


